/* Estilo general del fondo */
.economia-page {
    
    background-color: rgb(2, 5, 48);
    color: white;
    padding-left: 300px;
    padding-right: 10px;
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    height: 100%;
}

.Cont_Izquierdos_Eco {
    width: 700px;
    margin-left: auto;
    margin-right: 70px;
    text-align: right;

    /* Borde agregado */
    /* border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px; */
    padding: 1rem;
    box-sizing: border-box;
}



.Cont_Derecho_eco{
    width: 700px;
    margin-right: auto;
    margin-left: 30px;
    text-align: left;
    border-radius: 3px;
    border-color: brown;
}



#Container_la_política_monetaria, #container_Recesión_Crecimiento_Económico, #container_Transformación_Digital_Finanzas_Tecnológicas{

    border-left: 4px solid white;
    padding-left: 30px;
    margin-bottom: 50px;
}

#container_Mercados_Financieros_Bolsa_Valores,#Container_Inflación_Política_Monetaria,#container_Globalización_Comercio_Internacional{
    border-right: 4px solid white;
    padding-right: 30px;
    margin-bottom: 50px;
}


/* Títulos principales */
#TitulosPrincipalesEco {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Botones */
#Btn_Mostrar_Mas_Inflación_Política_Monetaria,
#Btn_Mostrar_Mas_la_política_monetaria,
#Btn_Mostrar_Mas_Mercados_Financieros_Bolsa_Valores,
#Btn_Mostrar_Mas_Recesión_Crecimiento_Económico,
#Btn_Mostrar_Mas_Transformación_Digital_Finanzas_Tecnológicas {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}

#Btn_Mostrar_Mas_Inflación_Política_Monetaria:hover,
#Btn_Mostrar_Mas_la_política_monetaria:hover,
#Btn_Mostrar_Mas_Mercados_Financieros_Bolsa_Valores:hover,
#Btn_Mostrar_Mas_Recesión_Crecimiento_Económico:hover,
#Btn_Mostrar_Mas_Transformación_Digital_Finanzas_Tecnológicas:hover {
    background-color: white;
    color: rgb(238, 234, 234);
}
