.gestion-usuarios-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #01010f 15%,     /* negro */
    #020752 55%,    /* azul oscuro */
    #01011f 90%  /* azul intermedio */
  );
  color: white;
  overflow: hidden;
}

.gestion-main-content {
  margin-left: 220px; /* el ancho del sidebar */
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
}
